/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #757575;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333333;
}

/* Header */
header {
    background-color: #81C784;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #1976D2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo a{
    font-size: 1rem;
    line-height:3rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #1976D2;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #81C784;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #1976D2;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/*  main Styling  */

main{
    flex: 1;
}

/* footer styling */
footer{
    background-color:#81C784
}



/* adding media-query */

@media screen and (min-width: 576px){
    #photos{
        column-count: 2;
        column-gap: 0;
    }
}
@media screen and (min-width: 768px){
    
    nav {
        position: relative;
        display: block;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        
    }
    #menu {
        display: flex;
        
    }
    #menu > li {
        margin-right: 2rem;
     }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    

   
   

    
}
    
    

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #1976D2;
    }

}

