/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #1d261d;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #263b27;
}

/* Header */
header {
    background-color: #81C784;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #1976D2;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo a{
    font-size: 1rem;
    line-height:3rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #1976d2;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #81C784;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #1976D2;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/*  main Styling  */

main{
    flex: 1 0 auto;
    margin-top: 47px;
}

 /* hero section  */
#hero{
    width: 100%;
    height: 600px;
    background:  url('../images/hero-3.webp') no-repeat center center / cover;
    /* Other background properties */

}

#cover-text{
    background-color:  rgba(109, 167, 112, 0.8);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding: 40px;
    padding-left: 10px;
    border: 1px solid #1976d2b5;

}
#cover-text >p {
    color: #263b27;
}

/* services section  */
.services {
    padding: 10px;
    
}
.services-content{
    text-align: center;
    line-height: 2em;
    margin: 10px 0; 
}

.services-content h2{
    text-decoration: underline;
}

.services-content p {
    padding: 10px 0;
}

.services-image{
    display: flex;
    justify-content: center;
}
.cta-button {
    display: inline-block;
    background-color: #4caf50; 
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(76, 175, 80, 0.5);
}

.cta-button:hover {
    background-color: #388E3C; /* Slightly darker green for hover effect */
}
.services-image-cover{
    background: url("../images/recipes-rice.webp") no-repeat top center /cover ;
    /* border: 1px solid #1976D2; */
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#image-exercises{
    background: url("../images/sport2.webp") no-repeat top center /cover ;
}

#image-why-us{
    background: url("../images/hero-4.webp") no-repeat top center /cover ;
}

.services-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SERVICES PAGE  */
.services-page{
    margin-top: 60px;
}

.service-title{
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

.service-title h2{
    text-decoration: underline;
}

.articles{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-bottom: 15px;
}

.article-card__body {
    padding: 8px;
}

.article-card__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;/* to remove any default inline spacing */
    border-bottom: 4px solid #1976d2b5;
}

.article-card__header{
    display: flex;
    justify-content: space-between;
}
.article-card__content >p {
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    color: #575e58;
}


/* contact us page  */
#signup {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../images/hero.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    width: 100%;
    height: 600px;
}

#signup-form {
    color: #263b27;
    background-color: rgba(109, 167, 112, 0.8);
    border: 1px solid #1976d2b5;
    padding: 30px;
}

#signup-form>h2 {
    text-align: center;
    color: #263b27;
    text-decoration: underline;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #263b27;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #81C784;
    border-radius: 2px;
    padding: 0 5px;
}

textarea{
    background: transparent;
    color: #263b27;
    width: 100%;
    border: 1px solid #81C784;
    border-radius: 2px;
    padding: 0 5px;
}
input::placeholder, textarea::placeholder {
    color: #263b27;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    text-align: center;
}


.join-button {
    width: 100%;
    margin-top: 20px;
    background-color: #263b27; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(76, 175, 80, 0.5);
}

/* footer styling */
footer{
    background-color:#81C784;
    box-shadow: 0 -2px 2px #1976D2;
}
.footer__top-section{
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    
}
.footer__top-section > div {
    margin: 8px 0;
    text-align: center;
}
.footer__top-section h2{
    text-align: center;
    margin-bottom: 5px;
}
.footer__top-section ul{
    list-style-type: none;
}
.footer__buttom-section{
    padding: 10px;
    background-color:#6ea670;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#social-media{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i{
    font-size: 160%;
    padding: 5px;
    color: #263b27;
}

#important-links li {
    padding: 8px 0;
}

#important-links  a{
    text-decoration: none;
    color: inherit;
    
}

/* adding media-query */
@media screen and (min-width: 768px){

    header{
        padding:1rem;

    }    
    nav {
        position: relative;
        display: block;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        
    }
    #menu {
        display: flex;
        
    }
    #menu > li {
        margin-right: 2rem;
     }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
    
    /* hero */
    #cover-text{
        width: 300px;
        bottom: 6em;
        left: 20px;
    }

    /* services-homepage section  */
    .services{
        margin: 60px 0;
        padding: 35px ;
        display: flex;
        align-items: center;
    }

    .services-space{
        width: 2rem;
    }

    .services-image-cover{
        border-radius: 20%;
        max-width: 450px;
        max-height: 350px;
    }
    #services-content-flip{
        order: 1;
    }
    #services-image-flip{
        order: -1;
    }

    /* contact us page  */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    /* services page  */
    .service-title p{
        margin: auto 90px;
        padding: 15px 0 ;
    }
    .articles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    

    /* footer  */
    .footer__top-section{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer__buttom-section p {
        flex: 1 0 auto;
    }
  
}
    
    

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #1976D2;
    }

}

@media screen and (min-width:1024px) {
    #cover-text {
        bottom: 12em;
    }
    .services-space{
        width: 18rem;
    }
    
    
}

@media screen and (min-width:1440px) {
    
    /* homepage services section  */
    #cover-text {
        bottom: 20em;
    }
    .services-space{
        width: 50rem;
    }
    .services-image-cover {
        max-width: 550px;
        max-height: 400px;
    }

    /* contact us page  */
    #signup {
        height: 100vh;
    }

    /* services page  */
    .service-title p{
        margin: auto 80px;
    }
    
    
}

@media screen and (min-width:2560px) {
    
    #cover-text {
        bottom: 60em;
    }
    .services{
        margin: 60px 400px 
    }
    .services-space{
        width: 50rem;
    }
    
}






